body{
    padding: 0;
    margin: 0;
    border: 0;
}
#main{
    margin: 0;
    width: 350px;
    height: 420px;
    padding: 25px;
    border: 2px solid gray;
    background-color: darkgray;
}
textarea{
    width: 350px;
    resize: none;
    align-self: center;
    border: none;
    background-color: lightgray;
}
button{
    transition: 200ms;
    height: 28px;
    margin: 0;
    border: 1px solid darkgray;
    color: black;
    background-color: lightgray;
}
button:hover{
    transition: 200ms;
    background-color: lightskyblue;
}
button:active{
    transition: 0ms;
    border: 1px solid #6666ff;
}
#logo{
    margin-right: 10px;
}
#appname{
    width: inherit;
    height: inherit;
    line-height: 32px;
    position: absolute;
}
#UI{
    margin-top: -16px;
}
#query{
    height: 48px;
}
#tags{
    height: 32px;
}
input{
    border: none;
    background-color: lightgray;
}
select{
    border: none;
    background-color: lightgray;
}
#display{
    border: none;
    width: 350px;
    height: 200px;
    border: 4px solid gray;
}
tr{
    margin:0;
}
td{
    margin:0;
    background-color: darkgray;
    border: 1px solid gray;
}
th{
    height: 32px;
    background-color: darkgray;
    border: 1px solid gray;
    margin:0;
}